* {
    font-family: 'Roboto Mono';
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: url(https://buildyourownlisp.com/static/img/halftone.png);
    margin: 0px;
    padding: 0px;
}

ul {
    list-style: none;
    white-space: pre-wrap;
}

h1 {
    text-transform: uppercase;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    color: #3c3c3e;
}

.chat {
    max-width: 80%;
    min-height: 400px;
    background: url(https://buildyourownlisp.com/static/img/halftone.png);
    background-color: #fff;
    padding-right: 15px;
    padding-left: 15px;
    margin: 20px auto;
    border-radius: 0.5rem;
}

.messages {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 500px;
}

.message-list {
    overflow-y: scroll;
    max-height: 500px;
    padding-left: 10%;
    padding-right: 10%;
}

.message-item {
    padding: 20px;
    border-radius: 0.25rem;
    margin: 20px 0;
}

.message-item:last-child {
    margin-bottom: 0;
}

.item-primary {
    background-color: #198cff;
    color: #e0e0e0;
}

.item-secondary {
    background-color: #ff9422;
    color: rgb(52, 52, 52);
}

.message-input {
    display: flex;
    padding: 20px 0;
}

.message-input input {
    width: 100%;
    padding: 10px;
    border-radius: 0.5rem;
    border: 1px solid #a5a5a5;
}

.message-input button {
    padding: 15px;
    margin-left: 10px;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
}